<div class="container">
  <app-alert></app-alert>

  <form
    [formGroup]="profileForm"
    (ngSubmit)="submitProfileForm()"
    class="card"
  >
    <h2 class="profile-heading">Profile</h2>

    <label for="username">Username:</label>
    <input id="username" type="text" placeholder="Username" formControlName="username">

    <label for="email">Email:</label>
    <input id="email" type="email" value="email@test.com" formControlName="email" readonly>

    <label for="age">Age:</label>
    <input id="age" type="number" placeholder="Age" formControlName="age" min="1">

    <button
      class="button-save"
      type="submit"
      [disabled]="profileForm.invalid"
    >Save
    </button>
  </form>
</div>

