.filter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
}

input[type='range'] {
  width: 250px;
}

.container-checkbox {
  display: flex;
  align-items: center;
}
