<div class="container">
  <div class="search-item">
    <label for="search">Search</label>
    <input type="text" placeholder="Search" id="search" [(ngModel)]="searchFriends">
  </div>

  <form [formGroup]="friendForm" (ngSubmit)="submit()">
    <h2>Add User</h2>
    <div class="form-control">
      <div class="nickname">
        <label for="nickname">Nickname</label>
        <input type="text" id="nickname" placeholder="Nickname" formControlName="nickname">
        <!--      <small *ngIf="friendForm.get('nickname')!.errors!['required']">-->
        <!--        Enter Nickname!-->
        <!--      </small>-->
      </div>
      <div>
        <button
          [disabled]="friendForm.invalid"
          type="submit"
        >Add User</button>
      </div>
    </div>
  </form>

  <div class="friends">
    <h2 class="friends-heading">All Users</h2>
    <div *ngIf="users.length; else loading" class="friends-list">
      <div *ngFor="let user of users | searchFriends:searchFriends; let idx = index" class="friend-item">
        <p class="nickname">{{idx + 1}} {{user.nickname}}</p>

        <div class="btn-item">
<!--          <button class="btn-like" (click)="like('friend.id')">Like!</button>-->
          <button class="btn-remove" (click)="remove(user)">Remove</button>
        </div>

      </div>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
