<div class="main-container">
  <app-alert></app-alert>

  <h1 class="main-heading">Users</h1>
  <div class="search-item">
    <label for="search">Search</label>
    <input type="text" placeholder="Search" id="search" [(ngModel)]="searchFriends">
  </div>

  <form [formGroup]="friendForm" (ngSubmit)="submit()">

    <h2 class="friends-heading">Add User</h2>

    <div class="friend-item add">

      <div class="nickname-value">
        <label for="nickname">Nickname</label>
        <input type="text" id="nickname" placeholder="Nickname" formControlName="nickname">
      </div>

      <div class="button-container">
        <button
          [disabled]="friendForm.invalid"
          type="submit"
          class="button-add"
        >Add User</button>
      </div>

    </div>

  </form>

  <div class="friends">
    <h2 class="friends-heading">All Users</h2>
    <div *ngIf="users.length; else loading" class="friends-list">
      <div *ngFor="let user of users | searchFriends:searchFriends; let idx = index" class="friend-item">
        <p class="nickname">{{idx + 1}}. {{user.nickname}}</p>

        <div class="button-container">
          <button class="button-remove" (click)="remove(user)">Remove</button>
        </div>

      </div>
    </div>
  </div>

  <ng-template #loading>
    <p class="loading-content">List of Users is empty!</p>
  </ng-template>
</div>
