<div class="main-container">
  <h2 class="main-heading">Friends</h2>
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="searchSubmit()">

    <div class="search-item">
      <label for="search">Search Friends</label>
      <input type="text" placeholder="Search Friends" id="search" formControlName="searchFriends">
    </div>


     <button
       [disabled]="searchForm.invalid"
       class="button-search"
       type="submit"
     >Search</button>


  </form>

  <div
    *ngIf="searchStatus"
    class="friends-search">
    <h2 class="friends-heading">Search Friends: {{searchFriendValue}}</h2>
    <div class="friends-search-list"
      *ngIf="searchResult.length; else empty"
    >
      <div *ngFor="let friend of searchResult; let idx = index" class="friend-item">
        <p class="nickname">{{idx + 1}} {{friend.nickname}}</p>

        <div class="button-container">
          <button
            [disabled]="friend.friend"
            class="button-add"
            (click)="addFriend(friend)"
          >
            Add Friend</button>
          <button
            [disabled]="!friend.friend"
            class="button-remove"
            (click)="remove(friend)"
          >
            Remove Friend</button>
        </div>

      </div>
    </div>
    <ng-template #empty>
      <p class="result-content">Result: {{searchResult.length}}</p>
    </ng-template>
  </div>

  <div class="friends-content">
    <h2 class="friends-heading">My Friends</h2>
    <div *ngIf="friends.length; else loading" class="friends-list">

      <div *ngFor="let friend of friends; let idx = index" class="friend-item">
        <p class="nickname">{{idx + 1}}. {{friend.nickname}}</p>

        <div class="button-container">
          <div
          [ngClass]="{'icon-heart': !friend.like, 'icon-heart-grey': friend.like}"
          (click)="likeFriend(friend)"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>
          </div>
          <button class="button-like" (click)="likeFriend(friend)">Like</button>
          <button class="button-remove" (click)="remove(friend)">Remove</button>
        </div>

      </div>
    </div>
  </div>

  <ng-template #loading>
    <p class="loading-content">Loading...</p>
  </ng-template>

</div>

