<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    class="form-card"
  >
    <h2 class="login-heading">Sing In</h2>

    <div
      *ngIf="auth.error$ | async as error"
      class="alert"
    >
      {{error}}
    </div>

    <div
      *ngIf="message"
      class="alert"
    >
      {{message}}
    </div>

    <div class="form-control"
         [ngClass]="{invalid: form.get('email')!.touched && form.get('email')!.invalid}"
    >
      <label for="email">Email:</label>
      <input id="email" type="email" placeholder="Email" formControlName="email">
      <div
        *ngIf="form.get('email')!.touched && form.get('email')!.invalid"
        class="validation">
        <small
          *ngIf="form.get('email')!.errors!['required']"
        >
          Enter Email
        </small>
        <small
          *ngIf="form.get('email')!.errors!['email']"
        >
          Email is not correct
        </small>
      </div>

    </div>

    <div class="form-control"
         [ngClass]="{invalid: form.get('password')!.touched && form.get('password')!.invalid}"
    >
      <label for="password">Password:</label>
      <input id="password" type="password" placeholder="Password" formControlName="password">
      <div
        *ngIf="form.get('password')!.touched && form.get('password')!.invalid"
        class="validation"
      >
        <small
          *ngIf="form.get('password')!.errors!['required']"
        >
          Enter password
        </small>
        <small
          *ngIf="form.get('password')!.errors!['minlength']"
        >
          Password should be no less than
          {{form.get('password')!.errors!['minlength']!.requiredLength}}
          symbols, now it is
          {{form.get('password')!.errors!['minlength']!.actualLength}}
        </small>
      </div>
    </div>

    <button
      [disabled]="form.invalid || submitted"
      type="submit"
      class="button-save"
    >Sing In</button>
  </form>

</div>
